<h1>User Profile - Welcome {{userProfile.userName}}</h1>
<p>Tell us a little about yourself:</p>

<form name="profileForm"  class="example-form" style="display: flex; flex-direction: column;">
    <mat-form-field class="">
        <mat-label>User Name:</mat-label>
        <input name="profileForm" #userName matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>First Name:</mat-label>
      <input name="profileForm" #firstName matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Last Name:</mat-label>
        <input #lastName matInput placeholder="Shopper" value="">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Phone Number:</mat-label>
        <input name="profileForm" #phoneNumber matInput placeholder="" value="">
      </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Bio:</mat-label>
      <textarea #bio matInput placeholder="I love skating and prefer a laid back fit..."></textarea>
    </mat-form-field>

    <h2>Shirt</h2>
    <h3>Size:</h3>
    <select #shirtSize>
        <option value="extraSmall">Extra Small</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="XL">Extra Large</option>
        <option value="XXL">XXLS</option>
    </select>
    <h3>Fit:</h3>
    <select #shirtFit>
        <option>Tight</option>
        <option>Loose</option>
    </select>
    <button (click)="createProfile(firstName.value, lastName.value, bio.value, shirtSize.value, shirtFit.value, phoneNumber.value)" class="button" type="button">
        Submit
    </button>

    
</form>