<div *ngIf="filteredSubmitted != true">
    <form #criteria="ngForm" (ngSubmit)="getFilteredBoxesByCriteria(criteria.value)">
        <input type="number" name="priceRange" label="Please Enter your price range" placeholder="150" value="150" ngModel />
        <br>
        <label>Shirt</label>
        <input type="checkbox" name="shirt" value="true" ngModel>
        <br>
        <label>Pants</label>
        <input type="checkbox" name="pants" value="true" ngModel>
        <br>
        <label>Shoes</label>
        <input type="checkbox" name="shoes" value="true" ngModel>
        <br>
        <label>Socks</label>
        <input type="checkbox" name="socks" value="true" ngModel>
        <br>
        <label>Jacket</label>
        <input type="checkbox" name="jacket" value="true" ngModel>
        <br>
        <label>Misc</label>
        <input type="checkbox" name="misc" value="true" ngModel>
        <br>
        <button type="submit">
        Submit
        </button>
    </form>
</div>
<div *ngIf="filteredSubmitted == true && showThankYou != false">
    <h1>Thank you for your submission!</h1>
    <h3>We will notify you when a shopper has hand-picked your box!</h3>
    <button (click)="returnHome()">Return Home</button>
</div>

<app-user-dash (createRequest) = "createRequest($event)" (viewResults) = "viewResults($event)" [boxes] = "filteredBoxes" *ngIf = "showDash == true"></app-user-dash>
<app-filtered-results (sentIndvBox) = "viewIndividualBox($event)" *ngIf = "showResults == true" [boxes] ="filteredBoxes"></app-filtered-results>
<app-individual-box [box] = "singleBox"></app-individual-box>
