#requestBoxContainer {
  background-color: rgb(200, 213, 253);
}

#requestMensContainer {
  background-color: rgba(167, 199, 245, 0.767);
}

#requestWomensContainer {
  background-color: rgb(194, 150, 156);
}

p {
    font-size: small;
    font-style: italic;
}

#form {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 6%;
    overflow: hidden;
    padding: 1em;
}

#topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#boxDescription {
  flex-grow: 1;
}

.itemNotes {
    flex-basis: 100%;
}

.notesCheckbox {
  font-size: .75em;
  font-style: italic;
}

.clothingHelpers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}



.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }