<div *ngIf="showRequest" class="formContainer" style="display: flex; flex-direction: column; max-width: 75%;">
    <form #criteria="ngForm" (ngSubmit)="getFilteredBoxesByCriteria(criteria.value)" id="form">
        <h1 style="margin: auto; margin-bottom: 10px;">Welcome!</h1>

        <div id="topRow">
            <mat-form-field appearance="fill" id="boxDescription">
                <mat-label>Tell us what brought you here...</mat-label>
                <textarea placeholder="Ex. Going to a dinner party..." matInput name="requestDetails" ngModel></textarea>
            </mat-form-field>
        </div>


        <div id="boxHelpers">
            <h2>What do you NEED included in your box?</h2>
            <p>Items selected are required in your box. If your shopper still has room, they will try and get as close to your target price as possible!</p>
        </div>


        <div id="shirtHelpers" class="clothingHelpers">
            <mat-checkbox [(ngModel)]="checkForShirt" name="shirt" value="true" labelPosition="before" class="example-margin">Shirt</mat-checkbox>
            <mat-checkbox *ngIf="checkForShirt" [(ngModel)]="hasShirtNotes" name="hasShirtNotes" value="true" labelPosition="before" class="example-margin notesCheckbox">Additional Notes?</mat-checkbox>
            <mat-form-field *ngIf="hasShirtNotes" appearance="fill" class="itemNotes">
                <mat-label class="notes">Notes:</mat-label>
                <textarea placeholder="Loose fitting..." matInput name="shirtNotes" ngModel ></textarea>
            </mat-form-field>
        </div>

        <div id="pantsHelpers" class="clothingHelpers">
            <mat-checkbox [(ngModel)]="checkForPants" name="pants" value="true" labelPosition="before" class="example-margin">Pants</mat-checkbox>
            <mat-checkbox *ngIf="checkForPants" [(ngModel)]="hasPantsNotes" name="hasPantsNotes" value="true" labelPosition="before" class="example-margin notesCheckbox">Additional Notes?</mat-checkbox>
            <mat-form-field *ngIf="hasPantsNotes" appearance="fill" class="itemNotes">
                <mat-label class="notes">Notes:</mat-label>
                <textarea placeholder="Slacks preferred..." matInput></textarea>
            </mat-form-field>
        </div>

        <div id="shoesHelpers" class="clothingHelpers">
            <mat-checkbox [(ngModel)]="checkForShoes" name="shoes" value="true" labelPosition="before" class="example-margin">Shoes</mat-checkbox>
            <mat-checkbox *ngIf="checkForShoes" [(ngModel)]="hasShoesNotes" name="hasShoesNotes" value="true" labelPosition="before" class="example-margin notesCheckbox">Additional Notes?</mat-checkbox>
            <mat-form-field *ngIf="hasShoesNotes" appearance="fill" class="itemNotes">
                <mat-label class="notes">Notes:</mat-label>
                <textarea placeholder="Open toe..." matInput></textarea>
            </mat-form-field>
        </div>

        <div id="jacketHelpers" class="clothingHelpers">
            <mat-checkbox [(ngModel)]="checkForJacket" name="jacket" value="true" labelPosition="before" class="example-margin">Dress / Jacket</mat-checkbox>
            <mat-checkbox *ngIf="checkForJacket" [(ngModel)]="hasJacketNotes" name="hasJacketNotes" value="true" labelPosition="before" class="example-margin notesCheckbox">Additional Notes?</mat-checkbox>
            <mat-form-field *ngIf="hasJacketNotes" appearance="fill" class="itemNotes">
                <mat-label class="notes">Notes:</mat-label>
                <textarea placeholder="Leather Jacket..." matInput></textarea>
            </mat-form-field>
        </div>

        <div id="socksHelpers" class="clothingHelpers">
            <mat-checkbox [(ngModel)]="checkForSocks" name="socks" value="true" labelPosition="before" class="example-margin">Socks</mat-checkbox>
            <mat-checkbox *ngIf="checkForSocks" [(ngModel)]="hasSocksNotes" name="hasSocksNotes" value="true" labelPosition="before" class="example-margin notesCheckbox">Additional Notes?</mat-checkbox>
            <mat-form-field *ngIf="hasSocksNotes" appearance="fill" class="itemNotes">
                <mat-label class="notes">Notes:</mat-label>
                <textarea placeholder="Ankle Socks Preferred" matInput></textarea>
            </mat-form-field>
        </div>

        <div id="miscHelpers" class="clothingHelpers">
            <mat-checkbox [(ngModel)]="checkForMisc" name="misc" value="true" labelPosition="before" class="example-margin">Misc</mat-checkbox>
            <mat-checkbox *ngIf="checkForMisc" [(ngModel)]="hasMiscNotes" name="hasMiscNotes" value="true" labelPosition="before" class="example-margin notesCheckbox">Additional Notes?</mat-checkbox>
            <mat-form-field *ngIf="hasMiscNotes" appearance="fill" class="itemNotes">
                <mat-label class="notes">Notes:</mat-label>
                <textarea placeholder="Sunglasses are needed..." matInput></textarea>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill" floatLabel="always" id="boxPrice">
            <mat-label>Target Price</mat-label>
            <input name="priceRange" ngModel matInput type="number" class="example-right-align" placeholder="150">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>
        <button mat-button type="submit" class="submitBtn">
        Submit
        </button>
    </form>
</div>
<div *ngIf="filteredSubmitted == true && showThankYou != false">
    <h1>Thank you for your submission!</h1>
    <h3>We will notify you when a shopper has hand-picked your box!</h3>
    <button (click)="returnHome()">Return Home</button>
</div>

<app-user-dash (createRequest) = "createRequest($event)" (viewResults) = "viewResults($event)" [boxes] = "filteredBoxes" *ngIf = "showDash == true"></app-user-dash>
<app-filtered-results (sentIndvBox) = "viewIndividualBox($event)" *ngIf = "showResults == true" [request]="request" [boxes] ="filteredBoxes"></app-filtered-results>
<app-individual-box *ngIf="showIndividual" [box] = "singleBox"></app-individual-box>
