<form #criteria="ngForm" (ngSubmit)="test(criteria.value)">
    <input type="number" name="priceRange" label="Please Enter your price range" placeholder="150" value="150" ngModel />
    <br>
    <label>Shirt</label>
    <input type="checkbox" name="shirt" value="true" ngModel>
    <br>
    <label>Pants</label>
    <input type="checkbox" name="pants" value="true" ngModel>
    <br>
    <label>Shoes</label>
    <input type="checkbox" name="shoes" value="true" ngModel>
    <br>
    <label>Socks</label>
    <input type="checkbox" name="socks" value="true" ngModel>
    <br>
    <label>Jacket</label>
    <input type="checkbox" name="jacket" value="true" ngModel>
    <br>
    <label>Misc</label>
    <input type="checkbox" name="misc" value="true" ngModel>
    <br>
    <button type="submit">
    Submit
    </button>
</form>

<h1>
    Your Boxes ({{filteredBoxes.length}})
</h1>

<div>
    <div *ngFor="let box of filteredBoxes" style="border: 1px solid black; margin-bottom: 20px;display: flex; justify-content: space-between;">
        <div style="align-self: flex-start;">
        <h1>Total Price: ${{box.totalPrice}}</h1>
        </div>
        Items:
        <div *ngFor="let item of box.Items">
            <div>
                <img [src]="item.imageUrl" style="height: 200px; width: 200px;">
                ${{item.price}}
                {{item.ClothingType}}
                {{item.Size}}
            </div>

        </div>
    </div>
</div>