<mat-toolbar *ngIf="profile != undefined" style="width: 33%; margin: auto; display: flex; flex-direction: row; justify-content: flex-start; background-color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-right: 1rem">Rock-It</span>
    <span>Your Boxes</span>
    <button (click)="viewFilteredBoxes()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon matBadge="{{numberOfBoxes}}">shopping_bag</mat-icon>
    </button>
    <span>New Request</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
</mat-toolbar>
<div id="container" style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <app-profile-select id="profile-select" *ngIf= "dummyDataBoxes == undefined" (profileSelect) = "profileSelect($event)"></app-profile-select>
    <app-request-box (sendMatchingBoxes) = "updateFilteredBoxes($event)" *ngIf= "dummyDataBoxes != undefined" [filteredBoxes] = "filteredBoxes" [profile] = "profile" [boxes] = "dummyDataBoxes"></app-request-box>
    <app-filtered-results *ngIf= "showResults == true" [boxes] = "filteredBoxes">yoo</app-filtered-results>
</div>